name: mypy_test-fastapi
services:
  db:
    image: pgvector/pgvector:pg17
    restart: always
    ports:
      - 5432:5432
    volumes:
      - db_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=mypy_test
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password

volumes:
  db_data: