name: test-mypy_test-fastapi
services:

  db:
    image: pgvector/pgvector:pg17
    restart: always
    ports:
      - 5434:5432
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=mypy_test
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password

volumes:
  db-data: